//PAGES MENUS

.banner img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.resto-main{
  background-color: $color-grey; 
}

.resto{
  &__title{
    background-color: $color-grey;
    border-radius: 2rem 2rem 0 0;
    font-family: $logo;
    font-size: 1rem;
    margin-top: -2rem;
    padding: 2rem 1rem;
    position: relative;  
    @include like;
  }
}

.menus{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
  background-color: $color-grey;   
  @media (min-width:900px) {
    grid-template-columns: repeat(3,1fr);
  }
  &__category {
    overflow: hidden;
  &__list {
    padding-top: 1rem;
  }
  .appears-with-opacity {
    animation: opacity 1s both;
  }
}
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-bottom: 1.5rem;
  &::after {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: 0.3rem;
    width: 3rem;
    background-color: $color-tertiary;
    }
  }
}

.menu-item{
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  @include box-shadow;
  &__description {
    padding: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    h4,
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }  
  }
  &__price{
    align-items: flex-end;
    display: flex;
    font-weight: bold;
    margin-left: auto;
    padding: 1rem;
  }
  &__check{
    display: grid;
    place-items: center;
    flex-shrink: 0;
    background-color: $color-tertiary;
    width: 4rem;
    margin-right: -1*4rem;
    transition: margin-right 0.5s;
    i{
      background: white;
      border-radius: 1rem;
      color: $color-tertiary;
    }
  }
  &:hover{
    cursor: pointer;
    .menu-item__check{
      margin-right: 0;
      i {
        @include check;
        animation: check 0.5s ease-in-out;
      }
    }
  }    

}
.order{
  display: flex;
  place-content: center;
  padding: 3rem;
  & button {
    @include btn-menu;
  }
}  

// ANIMATION PAGE MENU

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

#case-10{
  animation-delay: 1s;
}