
@mixin box-shadow {
    box-shadow: 2px 1px 8px -3px #7e7e7e;
}

//BOUTON

@mixin btn-menu {
    color: $color-white;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #7e7e7e;
    background-image: linear-gradient(to top, ($color-primary, $color-secondary));
    border-radius: 2rem;
    transition-duration: 0.25s;
    cursor: pointer;
    @include box-shadow;
    a{
      color: white;
      text-decoration: none;
    } 
    &:hover{
      opacity: 0.8;
      transform: scale(1.05);
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
}

// BOUTON LIKE

@mixin like {
  .fas.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    cursor: pointer;
  }
  .far.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    opacity: 1;
  }
    .card-like:hover{
      .fas.fa-heart {
        opacity: 1;
        transition: .3s ease-in-out;
    }
    .far.fa-heart{
        opacity: 0;
        transition: .3s ease-in-out;
    }
  }
}


//ANIMATIONS SELECTION MENU

@mixin check {
    @keyframes check {
      0% {
        transform: rotate(-270deg);
      }
      100% {
        transform: rotate(0);
      }
    }
  }
