
.loader{
  position: fixed;
  background-color: $color-white;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 1s * 3 forwards;  
}


@keyframes disappear {
  to {
    transform: scale(0);
  }
}