
.loader{
  display: grid;
  place-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  background-color: $color-white;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 1s * 3 forwards;
}
.spin-1{
  content:"";   
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid $color-primary;
  border-left: 5px solid $color-primary;
  border-bottom: 5px solid $color-primary;
  animation: spin-1 1s ease-in-out;
  animation-iteration-count: 3;

 }
.spin-2 {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid $color-secondary;
  border-left: 5px solid $color-secondary;
  border-bottom: 5px solid $color-secondary;
  animation: spin-2 1s ease-in-out;
  animation-iteration-count: 3;
}
    
.spin-3 {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid $color-tertiary;
  border-left: 5px solid $color-tertiary;
  border-bottom: 5px solid $color-tertiary;
  animation: spin-1 1s ease-in-out;
  animation-iteration-count: 3;
}   
@keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes spin-1{
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-2{
  to {
    transform: rotate(-360deg);
  }
}