
@mixin box-shadow {
    box-shadow: 2px 1px 8px -3px #7e7e7e;
}

//BOUTONS

@mixin btn-menu {
    color: $color-white;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    background-image: linear-gradient(to top, ($color-primary, $color-secondary));
    border-radius: 2rem;
    transition-duration: 0.25s;
    cursor: pointer;
    @include box-shadow;
    
    &:hover{
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
}
