//FONTS

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//COLORS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #f6f6f6;
$color-footer: #353535;
$color-white: #ffffff;
$gradient: linear-gradient(#ff79da, #9356dc);;

// SIZES

$size: 1rem;
$size-4: 4rem;