//FONTS

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//COLORS

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-grey: #f6f6f6;
$colour-footer: #353535;
$color-white: #ffffff;

// FONDS UNDERHEADER + RESTAURANTS
