
header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    @include box-shadow;
    padding: 0.5rem;
    margin: 0;    
    position: relative;

    & a {
    text-decoration: none;
    color: black;
    }

    & h1 {
    font-size: 2rem;
    margin: 1rem;
    }   
    &:hover {
        cursor: pointer;
    }
}

.header-back {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 2rem;
        margin-top: 0.5rem;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
        color: #000;
}
