//PAGES MENUS

.banner img {
  display: block;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: center;
}

.resto__title{
  background-color: $color-grey;
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
  position: relative;
}
.menus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    @media (max-width:900px){
      grid-template-rows: repeat(3,1fr);
    }   
    background-color: $color-grey;
    
    h3 {
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      margin-bottom: 1rem;
    &::after {
      position: absolute;
      top: 1.5rem;
      left: 0;
      height: 0.25rem;
      width: 3rem;
      background-color: $color-tertiary;
    }
  }
}

