.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;
  
&-title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}
}
  
.cards {
display: grid;
grid-template-columns: repeat(1,1fr);
column-gap: 2rem;
row-gap: 2rem;
margin-top: 2rem;

@media (min-width:900px) {
  grid-template-columns: repeat(2,1fr);
}
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  &-img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &-new{
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.2rem;      
  }

  &-footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1;
  }

  &-like:hover{
    
    .fas.fa-heart {
      opacity: 1;
      transition: .3s ease-in-out;
    }
    .far.fa-heart{
      opacity: 0;
      transition: .3s ease-in-out;
    }
  }
  .far.fa-heart{
    position: absolute;
    right: 1rem;
  }
  .fas.fa-heart{
    color:$color-primary;
  }
  .far {
    background-color: $color-white;
  }
}