
.location {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
    & i {
        font-size: 1.25rem;
    }    
    
    &-text{
        padding-left: 0.5rem;
    }

}

.explorer{
    text-align: center;
    background-color: $color-grey;
    padding: 2rem;
    & button {
        @include btn-menu;    
    }
    a{
        text-decoration: none;
        color: white;
    }
    h2, p{
        margin: 1rem;
    }
}